@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Joel's Movie List";
    ViewBag.Header = "Joel's Movie List";
}

@model IEnumerable<MoviesApp.Models.NewMovies>

<div class="table">
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Lent To</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        @foreach (MoviesApp.Models.NewMovies movie in Model)
        {
            <tr>
                <td>@movie.Category</td>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Rating</td>
                <td>@movie.LentTo</td>
                <td>@movie.Notes</td>
            </tr>
        }

        @*<tr>
            <td>Action</td>
            <td>Interstellar</td>
            <td>2014</td>
            <td>Christopher Nolan</td>
            <td>PG-13</td>
            <td>My friend's dog</td>
            <td>The dog just ate it</td>
        </tr>*@

        </tbody>
    </table>
</div>
